<div>
	<table>
		<tr>
			<th>序号</th>
			<th>微博内容</th>
			<th>创建时间</th>
			<th>是否原创</th>
		</tr>
		<% @weibomains.each do |weibomains| %>
	  	<tr>
	  		<td width="10%"><%= @pageid %></td>
	  		<td width="60%"><%= weibomains.WeiboText %></td>
	  		<td width="20%"><%= weibomains.WeiboTime %></td>
	  		<td width="10%"><%= weibomains.RetweetedID == nil ? "原创" : "转发" %></td>
	  	</tr>
	  	<% @pageid += 1 %>
      <% end %>
		<tr>
      	<td colspan="4" style="font-size: 3">
      		<%= will_paginate @products %><div style="float: right">共<%=@products.total_entries%>笔</div>
      	</td>
      </tr>
	</table>
</div>
