<% @i = 0 %>
<% @userselect.each do |userselect| %>
<div style="height: 90px;padding-top: 10px">
	<ul style="list-style-type: none; float: left">
  		<li><img src="<%=h userselect.profile_image_url %>" /></li>
  		<li style="height: 10px">
  		<% if @friendship[@i] %>
  			<p>已关注</p>
		<% else %>
			<p>
				<a href="javascript:void(0)" id="fl<%=h userselect.id %>"  onclick="add_follow('fl',<%=h userselect.id %>);" class="addfollow-btn">
					添加关注
				</a>
			</p>
		<% end %>
  		</li>
  	</ul>
  	<ul style="list-style-type: none;">
  		<li style="float: left">
  			&nbsp;<%=h userselect.screen_name %>
  		</li>
  		<li style="float: left">&nbsp;
  			<img src="/images/<%=h userselect.gender=="m"?"man.gif":"gile.gif" %>" />&nbsp;
  		</li>
  		<li>
  			&nbsp;<%=h userselect.location %>
  		</li>
  		<% if userselect.url != "" %>
  		<li>
  			&nbsp;<a href="<%=h userselect.url %>"><%=h userselect.url %></a>
  		</li>
  		<% end %>
  		<% if userselect.domain != "" %>
  		<li>
  			&nbsp;<%=h userselect.domain %>
  		</li>
  		<% end %>
  		<li>
  			&nbsp;粉丝数：<%=h userselect.followers_count %>|关注数 ：<%=h userselect.friends_count %>|微博数 ：<%=h userselect.statuses_count %>|收藏数 ：<%=h userselect.favourites_count %>
  		</li>
  	</ul>
</div>
<div>
	<ul style="list-style-type: none">
  		<li>用户描述 ：<%=h userselect.description %></li>
  		<li>创建时间 ：<%=h DateTime.parse(userselect.created_at).strftime("%Y年%m月%d日  %H:%M:%S") %></li>
  		<% if userselect.status %>
  		<li>最新微博：<%=h userselect.status.text %></li>
  		<% end %>
  	</ul>
  	<hr style="padding-bottom: 0px"/>
<% @i += 1 %>
<% end %>
</div>
