<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="row" rel="page" style="padding: 10px;">
	<div class="main-content" style="width:660px;height:50px">
		<div class="page-header">
			<h2>新用户注册<small>胜因营销管理</small></h2>
        </div>
        <div id="sel_mes" class="stream-content" style="padding: 10px;">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
			  <%= devise_error_messages! %>
			
			  <div style="padding: 10px;">
			  	<%= f.label :email, "邮箱：" %>
			  	<%= f.email_field :email %>
			  </div>
			
			  <div style="padding: 10px;">
			  	<%= f.label :password, "*原始密码：" %> <i>(leave blank if you don't want to change it)</i>
			  	<%= f.password_field :password %>
			  </div>
			
			  <div style="padding: 10px;">
			  	<%= f.label :password_confirmation, "*新密码：" %>
			  	<%= f.password_field :password_confirmation %>
			  </div>
			
			  <div style="padding: 10px;">
			  	<%= f.label :current_password, "*新密码确认" %> <i>(we need your current password to confirm your changes)</i>
			  	<%= f.password_field :current_password %>
			  </div>
			
			  <div style="padding: 10px;">
			  	<%= f.submit "确定" %>
			  </div>
			<% end %>
			
			<h3>Cancel my account</h3>
			
			<p>Unhappy? <%= link_to "取消账号", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
			
			<%= link_to "返回", :back %>
		</div>
	</div>
</div>
